alembic
blinker
click
colorama
dnspython
email_validator
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
passlib
SQLAlchemy
typing_extensions
Werkzeug
WTForms
gunicorn