{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">About Us</h1>

    <div class="row">
        <div class="col-lg-7">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem rem error, porro sequi
                accusantium voluptatibus hic necessitatibus atque magnam facilis? Libero doloribus possimus quam optio,
                architecto totam fugiat quaerat qui. Eveniet sunt consequatur explicabo exercitationem et perspiciatis!
                Natus officiis explicabo dignissimos eaque quia? Delectus consequuntur consectetur dolor corporis quis
                aut ad autem mollitia minima quae doloremque unde corrupti, dolorum magnam natus sint alias perferendis
                doloribus molestias iste assumenda blanditiis porro? Placeat, iusto. Quia quam qui tempora quas
                reprehenderit exercitationem quibusdam at, doloribus dolor, autem dicta! Voluptatem, quo asperiores
                officiis optio quae cupiditate. Voluptate, reprehenderit. Perferendis eos nisi vero officia sed,
                quisquam possimus rem dignissimos, a porro eaque nemo! Deserunt, recusandae esse asperiores nulla quae
                perferendis dolores illum odio cumque similique explicabo enim molestiae ratione optio, sit sunt nobis
                reiciendis unde distinctio accusantium. Necessitatibus eius reprehenderit tenetur illum non. Eveniet
                voluptatibus unde voluptate aliquid assumenda, architecto exercitationem soluta veniam perspiciatis.
            </p>
        </div>
        <div class="col-lg-5">
            <img src="/static/static_images/abt_us.jpg" alt="About Us" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}